name: CI

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: Xcode list
      run: ls /Applications
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_11.2.1.app
    - name: Test
      run: make test
